# Публичные переменные (безопасно использовать на клиенте)
NEXT_PUBLIC_PROD_BACKEND_URL=https://zling-backend.skynora.ru
NEXT_PUBLIC_PROD_FRONTEND_URL=https://zling.skynora.ru
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME2=djsmqdror
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET2=upload_preset_krbln

NEXT_PUBLIC_PROD_BACKEND_URL_FOR_WEBPUSH=https://zling-backend.skynora.ru

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dfubbcjyu
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=upload_preset_lenidkr_nesya

# Приватные переменные (только для сервера)
TOKEN_FOR_REQ=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoiVmVyaWZ5IHRva2VuIGZvciBvcGVuLWdyYXBoIiwiYWRtaW4iOnRydWUsImlhdCI6MTc1MDA3MzA0Mn0.9OrUQgqyhfk2H4shVpVkq3PcZ18phWk3udeZPIqLPG4
PROD_BACKEND_URL_DEV=https://zling-backend.skynora.ru

PROD_BACKEND_URL_OG=http://localhost:4000

OPENGRAPH_SECRET_PATH=9c0974c23da798c3dadab5d1177f218b8d4b5418422f50ae19045a9806c044e803357f6f045c4cc2e739b8e4f8d5850d4514

YOUTUBE_API_KEY=AIzaSyAxjPxooVZeK4YICexT4Mn_o61NTtEt49U

