/* @import 'tailwindcss'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

/* Базовые стили для Tippy */

/* Shift-away анимация */
.tippy-box[data-animation='shift-away'][data-state='hidden'] {
  opacity: 0;
  transform: translateY(10px);
}

.tippy-box[data-animation='shift-away'][data-state='visible'] {
  transform-origin: top;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* Базовые стили */
[data-tippy-root] {
  max-width: calc(90vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: hsl(var(--heroui-default-100));
  color: hsl(var(--heroui-foreground-70));
  border-radius: 0.75rem;
  border: 1px solid hsl(var(--heroui-default-200));
  font-size: 0.875rem;
  line-height: 1;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
}
.tippy-box[data-placement^='top'] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tippy-box[data-placement^='left'] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^='right'] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: hsl(var(--heroui-default-100));
}
.tippy-arrow:before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 6px 6px;
  z-index: 1;
}
