@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#root {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

@layer components {
  .form-icon {
    @apply text-xl text-default-200 pointer-events-none flex-shrink-0 self-center;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .bg-white {
  background-color: #EBE7D9;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
